{% load staticfiles %}
<htlml>
    <head>
        <title>django ab test</title>
        <link href="{% static 'bootstrap-combined.min.css'%}" rel="stylesheet">
        <link href="{% static 'base.css' %}" rel="stylesheet">
        {% block extraCss %}{% endblock %}
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">AB Tests</a>
                    <ul class="nav">
                        <li{% if site == "usage" %} class = "active"{% endif %}>
                            <a href="{% url 'usage' %}">Usage</a>
                        </li>
                        <li{% if site == "liveDemo" %} class = "active"{% endif %}>
                            <a href="{% url 'liveDemo' %}">Live Demo</a>
                        </li>
                        <li><a href="https://github.com/camillo/django-abTest">Download</a></li>

                    </ul>
                    <ul class="nav pull-right">
                        <li class="pull-right"><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="container">
            {% if messages %}
                <div class="row">
                    {% for message in messages %}
                        <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>
        {% block js %}
            <script src="{% static 'jquery.min.js'%}"></script>
            <script src="{% static 'bootstrap.min.js'%}"></script>
        {% endblock %}
    </body>
</htlml>