{% extends "base.html" %}
{% load abTest %}
{% block extraCss %}
    <style TYPE="text/css">
        .abBackground-green {
            background: green;
        }
        .abBackground-red {
        background: red;
        }
        .abBackground-blue {
        background: blue;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span7 abBackground-{{ ab.background }}">
            <p>Please... press the button. It costs nealy nothing and is everything you ever wanted.</p>
            <form method="get" action="{% reachedGoalUrl 'buttonPressed' %}">
                <button type="submit" class="btn btn-inverse">buy</button>

            </form>
        </div>

        <div class="span4">
            {% for test, result in testResults.items %}
                <table class="table table-condensed">
                    <caption>Stats for test {{ test }}</caption>
                    <thead>
                        <tr>
                            <th>Experiment</th>
                            <th>Total</th>
                            <th>Goals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>All</td>
                            <td>{{ result.count }}</td>
                            <td>{{ result.reachedGoals }}</td>
                        </tr>
                        {% for experiment, experimentResult in result.experiments.items %}
                            <tr>
                                <td>{{ experiment.name }}</td>
                                <td>{{ experimentResult.count }}</td>
                                <td>{{ experimentResult.reachedGoals }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="span7">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#about" data-toggle="tab">About</a></li>
                <li><a href="#inside" data-toggle="tab">Inside</a></li>
                <li><a href="#debug" data-toggle="tab">Debug</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="about">{% include "liveDemo/about.html" %}</div>
                <div class="tab-pane" id="inside">{% include "liveDemo/inside.html" %}</div>
                <div class="tab-pane" id="debug">{% include "liveDemo/debug.html" %}</div>

            </div>
        </div>
        <div class="span4">
            <p>Use buttons below to set the experiment for your session, or clear the session to get random settings.
                This feature is designed for development and debug. Feel free to use it live, if you see any needs.</p>
            <div class="row">
                {% for experiment in ab.background.experiments %}
                    <div class="span1"><a href="{% url 'abTest:setExperiment' 'background' experiment.name %}" style="color: {{ experiment }};" class="btn">{{ experiment }}</a></div>
                {% endfor %}
                <div class="span1"><a href="{% url 'abTest:clear' %}" class="btn">clear</a></div>
            </div>
            <div class="row"><div class="span4">
                <p>abTest framework ships with a generic session admin to help you during development. See it <a href="{% url 'abTest:sessionAdmin' %}">here</a>.</p>
            </div></div>
            <div style="display:none;" class="row"><div class="span4">
                <p>to get the url for experiment setter, use something like this in your template:
                    <code>{% templatetag openblock %} url 'abTest:setExperiment' 'background' 'red' {% templatetag closeblock %}</code></p>
            </div></div>
        </div>
    </div>
{% endblock %}