{% extends "base.html" %}

{% block content %}
    <div class="row well">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
            <li class=""><a href="#setup" data-toggle="tab">Setup</a></li>
            <li class=""><a href="#model" data-toggle="tab">Model</a></li>
            <li class=""><a href="#view" data-toggle="tab">View</a></li>
            <li class=""><a href="#template" data-toggle="tab">Template</a></li>
            <li class=""><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="info">{% include "usage/info.html" %}</div>
            <div class="tab-pane" id="setup">{% include "usage/setup.html" %}</div>
            <div class="tab-pane" id="model">{% include "usage/model.html" %}</div>
            <div class="tab-pane" id="view">{% include "usage/view.html" %}</div>
            <div class="tab-pane" id="template">{% include "usage/template.html" %}</div>
            <div class="tab-pane" id="settings">{% include "usage/settings.html" %}</div>
        </div>

    </div>

{% endblock %}