<p>On this page, we use abTest debug features to change current experiments. They are called 'debug'
    features because they are designed to help you during development and debug; feel totally free to use
    them live.</p>
<p>abTest brings some debug views. Add an import in your urls.py, to activate them:</p>
<pre>
from abTest import urls as abTestUrls
urlpatterns = patterns('',
    ...
    url(r'^abTest/', include(abTestUrls, namespace="abTest")),
)
                    </pre>
<p>If you want to use an other namespace, you need to override template
    <code>abTest/sessionAdmin.html</code> and set it there, if you want
    to use the sessionAdmin.
</p>
<h4>abTest:setExperiment, args = [testSlug, experimentSlug,]</h4>
<p>set experiment with given name for current session. We use this here, to provide links
    for the red, green, blue buttons:
<pre>
{% templatetag openblock %} for experiment in ab.background.experiments {% templatetag closeblock %}
    &lt;div class="span1"&gt;
        &lt;a href="{% templatetag openblock %} url 'abTest:setExperiment' test.slug experiment.slug {% templatetag closeblock %}"
            style="color: {% templatetag openvariable %} experiment {% templatetag closevariable %};" class="btn"&gt;
            {% templatetag openvariable %} experiment {% templatetag closevariable %}&lt;/a&gt;
    &lt;/div&gt;
{% templatetag openblock %} endfor {% templatetag closeblock %}
                        </pre>
</p>
<h4>abTest:clear</h4>
<p>Stop all tests, clear session and request. Next request will create a new test session with random experiments.
    <code>&lt;a href="{% templatetag openblock %} url 'abTest:clear'{% templatetag closeblock %}"&gt;clear&lt;/a&gt;</code> -
    This call only affects caller's session.
</p>
<p>
    <code>setExperiment</code> and <code>clear</code> accepts a next parameter (post or get) to redirect to after execution.
    If not given, settings will be checked, then HTTP_REFERER; fallback is '/'
</p>
<p>
    In case of ajax calls, methods simple return HttpResponse('ok')
</p>
<h4>abTest:sessionAdmin</h4>
<p>Show the generic session admin page. It shows all active tests with their experiments and let
    you activate single ones. Simple link to the view, if you want to use it:
<pre>
See it &lt;a href="{% templatetag openblock %} url 'abTest:sessionAdmin' {% templatetag closeblock %}"&gt;here.&lt;/a&gt;
                        </pre>
</p>
