<!DOCTYPE html>
<html>
    <head>
        <title>abTest session admin</title>
    </head>
    <body>
        <h1>Configure abTest session</h1>
        <h2>active tests</h2>
        {% for test, result in ab.items %}
            <div class="abTest">
                <h3>{{ test }}</h3>
                <div class="experiments">
                    <ul>
                        {% for experiment in test.raw.experiments.all %}
                            <li class="experiment{% if experiment.name == result %} active{% endif %}">{{ experiment }}
                                {% if not experiment.active %}(not in use) {% endif %}
                                {% if experiment.name == result %}
                                    <span class="activeLabel">(active)</span>
                                {% else %}
                                    <a {% if not experiment.active %}title="WARNING: You set an experiment, that is marked as deactivated. Your choice." {% endif %}
                                            href="{% url 'abTest:setExperiment' experiment.name %}" class="experimentSetter">set</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </body>
</html>