        <h3>General usage</h3>
        <p>
            The framework is very open and can be used in many ways. The 'normal' workflow is like this:
            <ul>
                <li>Setup the framework.</li>
                <li>Use django admin to create tests, experiments and goals.</li>
                <li>Implement your tests in views and/or templates.</li>
                <li>Test and Debug (with help of abTests admin pages)</li>
                <li>go live</li>
                <li>Measure you success, using provided statistic pages (also integrated into admin).</li>
            </ul>
        </p>
    <h3>Implementation</h3>
    <p>
        I think we can divide implementations into two groups:
    <ol>
        <li>switches in templates
            <p>
                Changes for tests are implemented in the 'live' template. Obviously the template needs to know
                about the current one, to render the correct experiment. Advantage of this method is fast implementation
                and you have everything at one place; but it can become unhandy when you need to change large parts of the site.
                And you should implement default handlers for your switches, if tests become inactive and
                experiments are not longer provided to the template.
            </p>
        </li>
        <li>one template per experiment
            <p>You do not touch your live templates, but create a new (probably derived) template per Experiment
                (or one new, containing switches for all experiments). In this scenario the view needs to
                know about the current active experiments.
            </p>
        </li>
    </ol>
    The lib allows you to mix both methods as you like, by shipping a middleware that choose and store experiments
    per session. They are available in request.ab; together with a context processor, that make these
    information available to templates.
    </p>
